html
  head
    title QnA section
  body
    h1 QnA section
    ul
      -for(var i=0; i<size; i++)
        li= qnadata[i]["email"]
        li= qnadata[i]["message"]
        li --------------------------